.blue1 p{

color: aliceblue;
text-align: center;

background-color: rgb(129, 23, 100);


width: 150px;
border-radius: 10px;

}

.blue2 p{

color: aliceblue;
text-align: center;

background-color: rgb(129, 23, 100);


width: 150px;
border-radius: 10px;

}



.blue3 p{

color: aliceblue;
text-align: center;

background-color: rgb(129, 23, 100);


width: 150px;
border-radius: 10px;

}

.blue4 p{

color: aliceblue;
text-align: center;

background-color: rgb(129, 23, 100);


width: 150px;
border-radius: 10px;

}